{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    {% include 'nav.html'  with context %}
    <div class="container mt-4">
        <h1 class="mb-4">What I learned</h1>
        <h2 class="mb-4">Lessons</h2>
        <p>From other languages mostly same ng paggawa ng mga variables, classes, function, etc. Yung natutunan ko is
            yung standard library, syntax, and quirks ng python, and after learning that I can just code like any other
            languages and plus points kay python for developer experience mas madaling gumagawa ng mga apps because of
            syntax and its community.</p>
        <h2 class="mb-4">Quizzes and Exams (Oh no!)</h2>
        <p>Hays. ano kayang masasabi ko dito.....</p>
        <p>Mostly nadali ako sa mga maliliit na bagay. So ang natutunan ko is dapat SAME NA SAME YUNG OUTPUT DAPAT.
            HAHAHAHHAHAHA, yung tipong single quote nilagay mo tas yung output dapat is double quotes naku delikado
            na...😂</p>
    </div>
{% endblock %}
