<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'root.index' }}"
                       href="{{ url_for('root.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'root.management' }}"
                       href="{{ url_for('root.management') }}">Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'root.about' }}"
                       href="{{ url_for('root.about') }}">About</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <span class="me-3">{{ user.first_name }} {{ user.last_name }}</span>
                <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-danger">Logout</a>
            </div>
        </div>
    </div>
</nav>
